@font-face {
  font-family: "LotussSmartHL";
  src: url("fonts/LotussSmartHL-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/LotussSmartHL-Regular.woff") format("woff"),
    url("fonts/LotussSmartHL-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LotussSmartHL-Bold";
  src: url("fonts/LotussSmartHL-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/LotussSmartHL-Bold.woff") format("woff"),
    url("fonts/LotussSmartHL-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LotussSmartHL-Medium";
  src: url("fonts/LotussSmartHL-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/LotussSmartHL-Medium.woff") format("woff"),
    url("fonts/LotussSmartHL-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
