html,
body {
  /* background-attachment: fixed; */
  background-color: #090538;
}
#app {
  height: 100vh;
}
#app .content {
  padding-bottom: 200px;
}
.board {
  font-family: "LotussSmartHL", sans-serif !important;
  background: url("../images/bg1.jpg") no-repeat top center;
  background-size: 100% auto;
  padding-top: 60px;
}
.font-bold {
  font-family: "LotussSmartHL-Bold", sans-serif !important;
}
.font-semibold {
  font-family: "LotussSmartHL-Medium", sans-serif !important;
}
